---
layout: info
title: Programma
billboard_class: billboard-stairs
---
<div>
  <h2>Venerdì 20 Giugno</h2>  
  <table>
    <tr>
      <th style="width:7%;text-align: center"><p>19-23</p></th>
      <td><p>Anna e Simone danno il benvenuto a chi fosse già arrivato con un aperitivo a casa di Anna, al Ginestratello, Sant'Angelo in Colle (SI). Più info in <a href="../logistica">"LOGISTICA"</a> <br> Confermare presenza in RSVP.</p></td> 
      </tr>
  </table>    
    <h2>Sabato 21 Giugno</h2>  
      <table>
        <tr style="height:5%">
          <th style="width:10%;text-align: center"><p>Mattina</p></th>
          <td ><p>Gli ospiti sono liberi di esplorare la bellissima Val d'Orcia, consultare la sezione <a href="../experiences">"EXPERIENCES"</a> per suggerimenti</p></td> 
          </tr>
          <tr style="height:10%">
            <th style="width:10%;text-align: center"><p>16</p></th>
            <td><p>Navette portano gli ospiti dai loro alloggi alla wedding venue oppure ospiti raggiungono la wedding venue indipendentemente </p></td> 
            </tr>
          <tr style="height:10px">
            <th style="width:10%;text-align: center"><p>17</p></th>
            <td><p>Arrivo a Pieve a Salti </p></td> 
            </tr>            
          <tr style="height:10px">
            <th style="width:10%;text-align: center"><p>18</p></th>
            <td><p>Inizio cerimonia in giardino</p></td> 
            </tr>
          <tr style="height:10px">
            <th style="width:10%;text-align: center"><p>19</p></th>
            <td><p>Aperitivo in piscina</p></td> 
            </tr>
          <tr style="height:10px">
            <th style="width:10%;text-align: center"><p>21</p></th>
            <td><p>Cena nel salone</p></td> 
            </tr>
          <tr>
            <th style="width:10%;text-align: center"><p>23.30</p></th>
            <td><p>Taglio torta in giardino</p></td> 
            </tr>
          <tr>
            <th style="width:10%;text-align: center"><p>00.00</p></th>
            <td><p>Festa!</p></td> 
            </tr>
          <tr>
            <th style="width:10%;text-align: center"><p></p></th>
            <td><p>A termine della festa le navette riporteranno gli ospiti ai loro alloggi.</p></td> 
            </tr>
</table>
<!-- 16: Navette portano gli ospiti dai loro alloggi alla wedding venue oppure ospiti raggiungono la wedding venue indipendentemente<br>
17: Arrivo a Pieve a Salti <br>
18: Inizio cerimonia <br>
19: Aperitivo <br>
21: Cena <br>
23.30: Taglio torta <br>
00.00: Festa <br> 
A termine della festa le navette riporteranno gli ospiti ai loro alloggi. <br> </p> -->
<h2>Domenica 22 Giugno</h2>  
<p>Relax e altre <a href="../experiences">"EXPERIENCES"</a> <br></p>
</div>
<!-- 
{% for event in site.events[site.context] %}
  <section class="container content-section {% cycle 'text-left', 'text-right' %}">
    <div class="row">
      <div class="col-lg-7 col-lg-offset-{% cycle 2, 3 %} col-sm-offset-2 col-sm-8">
        <h2>
                    
          <small>
            {{ event.date }} | {{ event.time }}
          </small>
        </h2>

        <div class="row">
          <address class="col-xs-8 text-left">
            <strong>{{ event.location_name }}</strong><br>
            <a href="{{ event.google_maps_url }}">
              {{ event.address1 }}<br>
              {{ event.address2 }}<br>
            </a>
          </address>

          <dl class="col-xs-4 text-right">
            <dt>Attire</dt>
            <dd>{{ event.attire }}</dd>
          </dl>

        </div>

        <p>{{ event.description }}</p>
        
        {% if event.transportation %}
          <p><em>{{ event.transportation }}</em></p>
        {% endif %}

        {% if event.shuttle %}
          <p><em>{{ event.shuttle }}</em></p>
        {% endif %}

      </div>
    </div>
  </section>
{% endfor %}
 -->