<!-- <div class="floating-info">
  <a class="floating-button" href="javascript://" data-toggle="modal" data-target="#subscribe-modal">
    <i class="fa fa-envelope animated"></i>
  </a>
</div> -->

<div class="modal fade" id="subscribe-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="https://fabform.io/f/GvsltEV" method="post"> 
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">RSVP</h4>
            </div>
            <div class="modal-body form-horizontal text-center">
              <p>
                Please RSVP by entering your name below.
                If you decide to join us, let us know if you will participate in the 
                aperitivo on Friday, and the guided tour on Saturday morning
              </p>
              <p>
                You can always reach us directly at
                <a href="mailto:anna.simone.21.06.2025@gmail.com">anna.simone.21.06.2025@gmail.com</a>
              </p>
              <div class="form-group">
                <label for="mce-EMAIL" class="control-label col-xs-offset-1 col-xs-2">
                  <h5 style="margin-bottom: 0">Email</h5>
                </label>
                <div class="col-xs-8">
                  <input type="email" placeholder="email@domain.com" name="EMAIL" class="form-control" id="mce-EMAIL">
                </div>
              </div>
              <div class="form-group">
                <label for="mce-NAME" class="control-label col-xs-offset-1 col-xs-2">
                  <h5 style="margin-bottom: 0">Name</h5>
                </label>
                <div class="col-xs-8">
                  <input type="name" placeholder="Your name" name="NAME" class="form-control" id="mce-NAME">
                </div>
              </div>
              <input type="radio" name="RSVP_date" value="I will join" />
              <input type="radio" name="RSVP_date" value="I will not come" />
              <input type="radio" name="RSVP_friday" value="I will join" />
              <input type="radio" name="RSVP_friday" value="I will not come" />
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->
    </div>
  </div>
</div>
