<section class="container content-section text-center">
    <div class="row">
      <div class="col-lg-offset-2 col-lg-8">
        <h2>Raggiungere la Val D'Orcia</h2>
        <p>
            La Val d'Orcia è una bellissima e remota regione della Toscana. <br> 
            L'unico modo per esplorarla comodamente è con una macchina, quindi consigliamo ai nostri ospiti che vengono da lontano di affittarne una. <br>
            L'aeroporto più vicino è quello di <a href="https://maps.app.goo.gl/MdAy1seE6axRNeBU8" target="_blank">Firenze</a> (a due ore di distanza). <br> 
            In alternativa è possibile arrivare anche all'<a href="https://maps.app.goo.gl/oNidLLsCytnrTfvv7" target="_blank">aeroporto di Pisa</a> (a circa due ore di distanza) oppure all'<a href="https://maps.app.goo.gl/oNidLLsCytnrTfvv7" target="_blank">aeroporto di Roma</a> (2.5 ore di distanza). <br>
            In questi aeroporti sarà possibile noleggiare una macchina e raggiungere la Val D'Orcia. <br>
        </p>
      </div>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <h2>Mappa della zona</h2>
            <p>
                Ecco una mappa della Val D'Orcia con evidenziati i punti d'interesse per il weekend.
            </p>
        
            <div>
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=187YGX3xcE0936hy4XMV1oz2zkNarkJg&ehbc=2E312F" width="640" height="480"></iframe>
            </div>    
        </div>      
    </div>  